.ionbiz-ticket-sharing-modal {
    display: block !important;
    position: fixed !important;
    top: 15px !important;
    right: 15px !important;
    border-radius: 5px !important;
    z-index: 2000000000 !important;
    padding: 15px 20px !important;
}

.ionbiz-ticket-sharing-modal p {
    display: block !important;
    color: #ffffff !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.modal-type--normal {
    background-color: rgba(0, 0, 0, .8);
}

.modal-type--success {
    background-color: rgba(66, 184, 46, .8);
}

.modal-type--error {
    background-color: rgb(204, 0, 51, .8);
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}