.ionbiz-ticket-sharing-modal {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    z-index: 10000;
    padding: .5rem 1rem;
    animation: hide 1s ease-in 2s;
    animation-fill-mode: forwards;
}

.ionbiz-ticket-sharing-modal p {
    color: #ffffff;
    line-height: 0;
}

.modal-type--normal {
    background-color: rgba(0, 0, 0, .8);
}

.modal-type--success {
    background-color: rgba(66, 184, 46, .8);
}

.modal-type--error {
    background-color: rgb(204, 0, 51, .8);
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}